*{
  font-family: "Libre Baskerville", serif;
}
body {
  background-image: url(https://img.freepik.com/free-vector/pink-gradient-blur-background_53876-115201.jpg?w=740&t=st=1716961475~exp=1716962075~hmac=ae628f1ad61c99e410eb8ec9669d2bcc2e682fc33307aa4a8171780627b8a5e3);
}
.container {
  width: 400px;
  margin: 50px auto;
  padding: 20px;
  /* border: 2px solid red; */
  font-family: arial;
  font-size: 16px;
  background: rgba( 255, 255, 255, 0.15 );
box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
backdrop-filter: blur( 20px );
-webkit-backdrop-filter: blur( 20px );
border-radius: 10px;
border: 1px solid rgba( 255, 255, 255, 0.18 );
}
h2 {
  text-align: center;
}
.container div {
  text-align: center;
}
input {
  width: 250px;
  padding: 5px;
  background: none;
  border: none;
  border-bottom: 2px solid black;
  text-align: center;
  font-weight:bolder;
}
button {
  width: 80px;
  padding: 10px;
  margin: 10px;
  font-size: 16px;
  background-color: rgb(237, 100, 111);
  border: none;
  color: white;
  border-radius: 10px;
}

.table{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
  gap: 20px;
  width: 100%;
}
.search{
  display: flex;
  align-items: center;
  justify-content: center;
}
table{
  width: 100%;
  border-collapse: collapse;
  
}
th,td{
  border: 1px solid black;
  padding: 10px;
  }
